
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap');

:root {
  --primary-green: #D8FFD7;
  --secondary-green: #97cb97;
  --dark-green: #4d704d;
  --light-green: #e5f5e5;
}

/* .hive{
  position: absolute;
  transform: translate(0%, 0%);
}
 */


.outer{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.outer > * {
  margin: 50px 0;
}

/* Style the container for the login form */
.container {
  display: flex;
  text-align: center;
  justify-content: center;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 800px;
  padding: 1em 1em;
}

.login-container {
  margin: auto;
  justify-content: center;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 800px;
  padding: 1em 1em;
}


/* Style the banner at the top of the page */
.login-banner {
  background-color: var(--dark-green);
  border-radius: 0 0 20px 20px;
  height: 60px;
}

/* Style the login form section */
.login-form {
  padding: 30px;
}







/* Style the login button */
button {
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  background-color: var(--secondary-green);
  border: none;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  color: white;
  cursor: pointer;
  font-size: 1.2rem;
  padding: 10px;
  transition: all 0.3s ease;
}

button:hover {
  background-color: var(--dark-green);
}



/* Style the container for the file input and send button */
.input-group {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0 30px;
}

/* Style the file input */
.file-input {
  border-radius: 10px;
  border: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  font-size: 1.2rem;
  padding: 10px;
}

body {
  background-color: #f7fdf7;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
}



.login-banner {
  background-color: #76cc7f;
  border-radius: 20px 20px 0 0;
  height: 50px;
  margin: 0;
  padding: 0;
  width: 100%;
}


form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 50px 0;
  padding: 0 30px;
}

label {
  color: #1a1a1a;
  display: block;
  font-size: 1.2rem;
  margin-bottom: 5px;
  text-shadow: 1px 1px 0 #fff;
}

input[type="text"],
input[type="password"] {
  border-radius: 10px;
  border: none;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
  font-size: 1.2rem;
  padding: 10px;
}




.title {
  margin-top: 0;
  font-size: 45px;
  font-weight: 800;
  color:#36765a;
  background-color: #c6f6cb;
  border-radius: 20px;
  text-align: center;
}



/* Styling for select dropdown */
select {
  margin: 10px;
  padding: 10px;
  font-size: 16px;
  color: #717568; /* Dim gray */
  background-color: #e1f4cb; /* Nyanza */
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Styling for picked file display */
p {
  margin: 10px;
  color: #3f4739; /* Black olive */
  font-size: 16px;
}

/* Styling for file input and send button */
.input-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.file-input {
  margin: 10px;
  padding: 10px;
  font-size: 16px;
  color: #717568; /* Dim gray */
  background-color: #e1f4cb; /* Nyanza */
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
  .smaller-container {
    width: 100%;
  }
}

.vh{
  max-height: 100vh;
}
